version: '3.8'

services:
  www:
    image: php:apache
    command: /bin/sh -c "docker-php-ext-install mysqli && exec apache2-foreground"
    volumes:
      - ./app:/var/www/html
    ports:
      - "81:80"
      - "443:443"

  db:
    image: mysql:latest
    environment:
      - MYSQL_DATABASE=appinfo
      - MYSQL_USER=php_docker
      - MYSQL_PASSWORD=password
      - MYSQL_ALLOW_EMPTY_PASSWORD=1
    volumes:
      - ./db:/docker-entrypoint-initdb.d

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8001:80"
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306