/* Enlever le fond blanc par defaut des placeholder sur bootstrap */
.form-floating > label::after {
    background-color: transparent !important;
}

/* Image de fond pour les pages d'authentification et d'ajout */
.auth-bg {
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

/* Overlay pour les pages avec fond */
.page-overlay::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    pointer-events: none;
    z-index: 0;
    
}

/* S'assurer que les cartes sont au-dessus de l'overlay */
.card {
    position: relative;
    z-index: 1;
}

/* Rendre les champs de formulaire transparents */
.form-control,
.form-select {
    background-color: rgba(0,0,0,0.45) ;
    color: #fff;
}

/* Centrer les pages qui doivent avoir un overlay */
.page-centered {
    position: relative;
    z-index: 1;
}

.window_on{
    width:100vw;
    height:900px;
    overflow:scroll;
    z-index:1;
}

.window_hidden{
    height:0px;
    overflow:hidden;
}

.cgu_class:hover{
    cursor: pointer;
}
.star {
  width: 300px;  
  aspect-ratio: 1;
  background: #F8CA00;
  /* clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   );  */
  /* or more simple */
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
  
}
.star-rating {
  direction: rtl;
  display: inline-flex;
}
.star-rating input[type="radio"] {
  display: none;
}
.star-rating label {
  font-size: 2.5rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}
.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
}